.mainSection {
  margin: 0 auto;
  padding-block: 0px 50px;
  width: 80%;
}

.mainSection .categoriesContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 10px 0 50px;
}
.categoriesContainer h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #000000;
  margin: 15px 0px;
}
.categoriesContainer .categoryList {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.categoryList .categories {
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
.categoryList .activeCategory {
  background: linear-gradient(
    90.12deg,
    #fccc14 0.13%,
    rgba(245, 214, 78, 0.91) 99.92%
  );
  color: white;
}
.categoryList .categories:hover {
  background-color: #e9ce2c;
  color: #fff;
}
.categoryList .activeCategory:hover {
  background-color: #fccc14;
}
.mainSection .ydProducts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fccc14' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.ydProducts .card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  padding-block: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  background-clip: border-box;
  /* opacity: 0; */
  /* transform: translateY(20px); */
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 20px rgba(66, 66, 66, 0.1);
}
.card.visible {
  opacity: 1;
  transform: translateY(0);
}
.ydProducts .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.ydProducts .card .tag {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #fccc14;
  color: white;
}
.ydProducts .card .imgContainer {
  width: 100%;
}
.card img {
  width: 100%;
  border-radius: 7px;
}
.card .cardContent {
  padding: 8px 20px 0px;
}
.card .cardContent .cardHeader {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 5px;
  word-wrap: break-word;
  text-align: center;
}

.card .moreContent {
  display: flex;
  justify-content: center;
  color: #fccc14;
  cursor: pointer;
}
.card .moreContent:hover {
  text-decoration: underline;
}
.card .cardContent .cardLink {
  position: relative;
  text-decoration: none;
  color: #000000;
}
.card .cardContent .cardLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fccc14;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.card .cardContent .cardLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media screen and (max-device-width: 1024px) {
  .mainSection .ydProducts {
    grid-template-columns: repeat(3, 1fr);
  }
  .mainSection .productsHeader {
    width: 75%;
  }
}
@media screen and (max-device-width: 768px) {
  .mainSection .ydProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-device-width: 425px) {
  .mainSection {
    width: 90%;
  }

  .mainSection .ydProducts {
    grid-template-columns: repeat(1, 1fr);
  }
  .categoriesContainer .categoryList {
    gap: 4px;
  }
}
